td {
    border: 1px dashed black;

    width: 50px;
    height: 50px;
}

input {
    width: 100%;
    height: 100%;
}

.management div {
    width: 50px;
    height: 50px;

    margin: 1px;

    background-color: red;
    text-align: center;
}

#loader-div {
    position: absolute;

    width: 100vw;
    height: 100vh;
    
    left: 0;
    top: 0;

    background-color: #01003655;

    display: flex;
    justify-content: center;
    align-items: center;

    visibility: hidden;
}

#loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#inputTable {
    display: inline-block;
}

#default-row>td:first-child {
    visibility: hidden;
}

#container {
    display: inline-block;
}

#submit {
    border: 5px solid black;
    width: 100px;
    height: 50px;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}