h1 {
    width: 100%;

    text-align: center;
}

#rankingForm {
    width: 100%;
    height: 100%;
}

.tablesContainer {
    display: flex;
    flex-direction: row;

    text-align: center;
    justify-content: space-evenly;

    width: 100%;
}